@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --font-header : "Playfair Display", serif;
    --font-main : "Mona Sans", sans-serif;
}
*{
    font-family: var(--font-main);
}

.links:hover{
    background-color: #eee;
    transition : 0.5s;
}